* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #000000;
    font-weight: 600;
    font-size:3rem;
    opacity: 0.8;
}
h2{
    color: #000000;
    font-weight: 500;
    opacity: 0.8;
}
h3{
    color: #000000;
    font-weight: 600;
    opacity: 0.8;
}
p{
    color: #000000;
    font-weight: 300;
    opacity: 0.6;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top,#ffb6c1,#add8e6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 80vh;
    width: 80%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.2));
    border-radius: 2rem;
    display: flex;
}

.user_info{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.5),rgba(255,255,255,0.3));
    border-radius: 2rem;
    z-index: 3;
}

.userimg{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.article {
    flex: 2;
}

.search {
    height: 2rem;
    width: 80%;
    align-items: center;
    margin-bottom: 3rem;
}

.layoutt{
    position: relative;
}
.search input{
    margin: 2rem 2rem;
    padding: 1rem;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border: none;
    width: 60%;
    padding: 0.5rem;
    border-radius: 2rem;
    outline: none;
    padding-left: 10px;
}

.btn input{
    width: 10%;
    height: 10%;
    background: url("./image/3.png") no-repeat 2px 2px; 
    border: none;
    outline: none; 
    cursor: pointer; 
}

.card{
    display: flex;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.5),rgba(255,255,255,0.3));
    border-radius: 2rem;
    margin: 4rem 2rem;
}